<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= header %></title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="Detailage">
        <%content.forEach(e=>{%>

            <% if(e.title_img_cos_key) {%>
                <li >
                    <h2 attr-tamplate= <%= e.article_id%>>
                        <%= e.title %>
                    </h2>
                    <div>
                        <%- e.content %>
                    </div>
                </li>
            <%} else {%>
                <li >
                    <h2 attr-tamplate= <%= e.question_id%>>
                        <%= e.title %>
                    </h2>
                    <div>
                        <%- e.detail %>
                    </div>
                </li>
            <% } %>
    
        <%})%>
    </div>
    <script>

    </script>
    <script src="/js/jq.min.js"></script>
    <%- js %>
</body>
</html>